/* This is a universal selector. It's apply the settings below to this page. */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
/* This is a specific collector, apply a grey color to background of the body */
body {
    background-color: #d9dcd6;
}

/* This is a class colector. The value for this class will apply to the header section element. The padding on this section is the blue backgroup where all the title and UL live */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* This is a class colector. The head line number one will be set to diplay inline-block, means that it's configure side by side. The font size for this head line will be set for 48 pixel */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}
/* This is a class selector. The value below apply to everything inside this section. */
.header section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* No list order is going to be perform for this element type inside the this header section */
.header section ul {
    list-style-type: none;
}
/* This is a class selector. Apply inline-block and set margin to the left 25 pixel to unorder list and list item */
.header section ul li {
    display: inline-block;
    margin-left: 25px;
}
/* This is a selector that defined any element start with a leter "a" will apply text color white */
a {
    color: #ffffff;
    text-decoration: none;
}

